@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@using MVCAuthPractice.Models

@inject  SignInManager<ApplicationUser> SignInManager
@inject  UserManager<ApplicationUser> UserManager

    <div class="text-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <h1 class="display-4">Welcome @UserManager.GetUserAsync(User).Result.FirstName!!</h1>
        }
        else
        {
            <h1 class="display-4">Welcome</h1>
        }
    </div>
